<!-- Connection bar -->
<app-connection-bar
  [disableForm]="disableConnectionBarControls"
  [showStopButton]="showConnectionBarStopButton"
  (start)="handleStartEvent($event)"
  (stop)="handleStopEvent()"
></app-connection-bar>
<!-- End connection bar -->

<!-- Main interface -->
<ng-container *ngIf="showMainInterface; else defaultDisplay">
  <div [hidden]="isFirstEmailHeaderRequest" class="container-fluid border-top main">
    <div class="row h-100">
      <div class="col-md-4 p-0">
        <app-email-header-list
          [loading]="loadingEmailHeaders"
          [showLoadMoreButton]="!!nextHeaderRetrievalStartRange"
          [newEmailHeaderList$]="newEmailHeaderList$"
          (loadMoreHeaders)="handleLoadMoreHeadersEvent()"
          (displayEmailBody)="handleDisplayEmailBodyEvent($event)"
        ></app-email-header-list>
      </div>

      <div class="col-md-8 p-0 d-none d-md-block bg-white">
        <app-email-body
          [loading]="loadingEmailBody"
          [emailBody]="selectedEmailBody"
          [emailHeader]="selectedEmailHeader"
        ></app-email-body>
      </div>
    </div>
  </div>

  <ng-container *ngIf="isFirstEmailHeaderRequest">
    <ng-template [ngTemplateOutlet]="firstTimeLoadDisplay"></ng-template>
  </ng-container>
</ng-container>
<!-- End main interface -->

<!-- First-time load display -->
<ng-template #firstTimeLoadDisplay>
  <div class="main p-3 d-flex align-items-center justify-content-center">
    <div class="spinner-border text-primary"></div>
  </div>
</ng-template>
<!-- End first-time load display -->

<!-- Default display -->
<ng-template #defaultDisplay>
  <div class="main p-3 d-flex align-items-center justify-content-center">
    <p class="fs-5 text-grey">Enter the required credentials and click "Start" to load your inbox</p>
  </div>
</ng-template>
<!-- End default display -->