<!-- Connection bar -->
<app-connection-bar
  [disableForm]="disableConnectionBarControls"
  [showStopButton]="showConnectionBarStopButton"
  (start)="handleStartEvent($event)"
  (stop)="handleStopEvent()"
></app-connection-bar>
<!-- End connection bar -->

<!-- Main interface -->
<ng-container *ngIf="showMainInterface; else defaultDisplay">
  <div [hidden]="isFirstEmailHeaderRequest" class="d-flex border-top h-100 overflow-y-auto overflow-x-hidden">
    <!-- Email header list display -->
    <app-email-header-list
      [loading]="loadingEmailHeaders"
      [showLoadMoreButton]="!!nextHeaderRetrievalStartRange"
      [newEmailHeaderList$]="newEmailHeaderList$"
      (loadMoreHeaders)="handleLoadMoreHeadersEvent()"
      (displayEmailBody)="handleDisplayEmailBodyEvent($event)"
    ></app-email-header-list>
    <!-- End email header list display -->

    <!-- Email body display (large screens only) -->
    <div class="d-none d-md-block email-body bg-white">
      <ng-template [ngTemplateOutlet]="emailBody"></ng-template>
    </div>
    <!-- End email body display -->

    <!-- Email body display (small screens only) -->
    <div class="d-md-none d-block">
      <!-- Email body modal -->
      <div class="modal fade" [ngClass]="{'d-block show': showEmailBodyModal}"  tabindex="-1">
        <div class="modal-dialog modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <button class="btn-close" (click)="showEmailBodyModal = false"></button>
            </div>
            <div class="modal-body">
              <ng-template [ngTemplateOutlet]="emailBody"></ng-template>
            </div>
          </div>
        </div>
      </div>
      <!-- End email body modal -->
    </div>
    <!-- End email body display -->
  </div>

  <ng-container *ngIf="isFirstEmailHeaderRequest">
    <ng-template [ngTemplateOutlet]="firstTimeLoadDisplay"></ng-template>
  </ng-container>
</ng-container>
<!-- End main interface -->

<!-- Email body display -->
<ng-template #emailBody>
  <app-email-body
    [loading]="loadingEmailBody"
    [emailBody]="selectedEmailBody"
    [emailHeader]="selectedEmailHeader"
  ></app-email-body>
</ng-template>
<!-- End email body display -->

<!-- First-time load display -->
<ng-template #firstTimeLoadDisplay>
  <div class="h-100 p-3 d-flex align-items-center justify-content-center">
    <div class="spinner-border text-primary"></div>
  </div>
</ng-template>
<!-- End first-time load display -->

<!-- Default display -->
<ng-template #defaultDisplay>
  <div class="h-100 p-3 d-flex align-items-center justify-content-center">
    <p class="fs-5 text-grey text-center">Enter the required credentials and click "Start" to load your inbox</p>
  </div>
</ng-template>
<!-- End default display -->