<div class="h-100 border-end d-flex flex-column">
  <div class="overflow-y-auto h-100">
    <!-- Currently loaded headers -->
    <ng-container *ngFor="let emailHeader of emailHeaderList">
      <ng-template
        [ngTemplateOutlet]="emailHeaderTemplate"
        [ngTemplateOutletContext]="{$implicit: emailHeader}"
      ></ng-template>
    </ng-container>
    <!-- End currently loaded headers -->
  </div>

  <!-- Button to subsequently load more headers -->
  <button
    *ngIf="showLoadMoreButton"
    [disabled]="loading"
    (click)="loadMore()"
    class="w-100 btn btn-primary rounded-0 py-3 mt-auto"
  >
    <span *ngIf="!loading">Load more</span>
    <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
  </button>
  <!-- End button to subsequently load more headers -->
</div>

<!-- Reusable email header template -->
<ng-template #emailHeaderTemplate let-emailHeader>
  <div
    class="border-bottom p-3 bg-white--hover cursor--pointer"
    (click)="emailHeaderClick(emailHeader)"
    [class.bg-white]="activeEmailHeader?.emailId === emailHeader.emailId"
  >
    <div class="d-flex align-items-start justify-content-between mb-1">
      <div>
        <span class="fw-bold">{{emailHeader.fromName}}</span>
        <small class="d-block">{{emailHeader.fromAddress}}</small>
      </div>
      <small class="text-nowrap">{{emailHeader.date | date: 'short'}}</small>
    </div>
    <span>{{emailHeader.subject}}</span>
  </div>
</ng-template>
<!-- End reusable email header template -->